html {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to bottom, #615dad, #ffc8da);
  background-repeat: no-repeat;
}

.kontejner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.piskvorky,
.pravidla-hlavni {
  width: 350px;
  color: #ffffff;
  background-color: #283e50;
  text-align: center;
  font-size: 18px;
  font-family: sans-serif;
  font-style: inherit;
}

.soupis-pravidel .seznam {
  text-align: left;
}

.foto {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

h1 {
  font-family: 'Lobster', cursive;
}

.uvod,
.soupis-pravidel {
  padding: 10px;
}

.seznam li {
  margin: 10px 0;
}

ul.odkazy {
  padding: 0;
  margin: auto;
}

.odkazy li {
  list-style-type: none;
}

.odkazy a {
  text-decoration: none;
  display: block;
  color: #ffffff;
  padding: 15px;
  margin: 1px;
}

.pravidla,
.uvodni-stranka {
  background-color: #1fcca4;
}

.odkazy .pravidla:hover,
.uvodni-stranka:hover,
.domu:hover {
  background-color: #1cbb96;
}

.hra {
  background-color: #0197f6;
}

.hra:hover,
.znovu:hover {
  background-color: #0090e9;
}

.kolecko,
.krizek {
  filter: invert(100%);
  width: 1em;
  height: 1em;
}

.instrukce {
  width: 100%;
}

figcaption {
  text-align: center;
  margin: 5px 30px 30px 30px;
  font-style: italic;
  font-size: 13px;
}

@media (min-width: 550px) {
  .pravidla-hlavni {
    width: 600px;
  }
  figure {
    margin: 15px;
  }

  .pravidla-kontejner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .obrazek-pravidla {
    flex-basis: 49%;
  }
  .figcaption {
    background-position: center;
  }
}

.kontejner-hra {
  max-width: 80vmin;
  margin: 0px auto 50px;
}

.uvod-hra {
  display: flex;
  justify-content: space-between;
}

.navigace {
  display: flex;
  justify-content: end;
}

.nazev-hra {
  font-family: 'Lobster', cursive;
  font-size: 50px;
  color: #ffffff;
  text-align: center;
}

.kolecko-hra {
  border-radius: 50%;
  border: 2px white solid;
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-left: 5px;
}

.kdo-hraje {
  color: #ffffff;
  font-size: 22px;
  text-align: left;
  display: flex;
}

.tlacitka {
  display: flex;
  flex-wrap: wrap;
  max-width: 80vmin;
  background-image: linear-gradient(to bottom, #615dad, #ffc8da);
}

.tlacitka button {
  width: 10%;
  height: 8vmin;
  margin: 0;
  border: 1px rgb(65, 52, 52) solid;
  opacity: 0.5;
}

.tlacitka button:hover,
.tlacitka button:focus {
  opacity: 0.7;
}

.domu,
.znovu {
  padding: 10px;
  border-radius: 15px;
  margin: 3px;
  margin-bottom: 40px;
}

.domu {
  background-color: #1fcca4;
}

.znovu {
  background-color: #0197f6;
}

.ted-hraje {
  width: 2em;
  filter: invert(100%);
  transform: translate(-5px, -10px);
}
.board__field--circle {
  background-image: url('circle.svg');
  background-position: center;
  background-repeat: no-repeat;
}
