html {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to bottom, #615dad, #ffc8da);
}

.kontejner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.piskvorky,
.pravidla-hlavni {
  width: 350px;
  color: #ffffff;
  background-color: #283e50;
  text-align: center;
  font-size: 18px;
  font-family: sans-serif;
  font-style: inherit;
}

.soupis-pravidel .seznam {
  text-align: left;
}

.foto {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

h1 {
  font-family: 'Lobster', cursive;
}

.uvod,
.soupis-pravidel {
  padding: 10px;
}

.seznam li {
  margin: 10px 0;
}

ul.odkazy {
  padding: 0;
  margin: auto;
}

.odkazy li {
  list-style-type: none;
}

.odkazy a {
  text-decoration: none;
  display: block;
  color: #ffffff;
  padding: 15px;
  margin: 1px;
}

.pravidla,
.uvodni-stranka {
  background-color: #1fcca4;
}

a.pravidla:hover {
  background-color: #1cbb96;
}

.hra {
  background-color: #0197f6;
}

a.hra:hover {
  background-color: #0090e9;
}

.instrukce {
  width: 300px;
  margin: 10px 30px;
}

.text-under {
  text-align: center;
  margin: 5px 30px 30px 30px;
}
